<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>

    <script src="/javascripts/salaryCalculator.js"></script>
    <script language="javascript" src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100 vh-100">
      <div class="main">
        <div class="header text-center">
          <h1><%= title %></h1>
          <p>Conversor de recebimento em euros</p>
        </div>

        <br>

        <div class="input">
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">€</span>
            <input type="number" class="form-control" inputmode="numeric" placeholder="Salary in €" id="salary" aria-label="Salary in €" aria-describedby="buttonCalculate">
            <button class="btn btn-outline-secondary" type="button" id="buttonCalculate">Calcular</button>
          </div>
        </div>

        <br>

        <div class="euro-value text-center">
          <p>€ 1 = R$ <span id="euro" value='0'>0</span></p>
        </div>

        <div class="table-values">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">Valor em reais</th>
                <td><span id="reais" value='0'>0</span></td>
              </tr>
              <tr>
                <th scope="row">Valor DAS</th>
                <td><span id="das" value='0'>0</span></td>
              </tr>
              <tr>
                <th scope="row">Valor Remessa Online</th>
                <td><span id="remessaOnline" value='0'>0</span></td>
              </tr>
              <tr>
                <th scope="row">Valor IOF</th>
                <td><span id="iof" value='0'>0</span></td>
              </tr>
              <tr>
                <td colspan="2"></td>
              </tr>
              <tr>
                <th>Valor total</th>
                <td><span id="reaisTotal" value='0'>0</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
